body {
    background-color: rgba(200, 173, 127, 0.900);
    height: 100%;
    width: 100%;
}
header {
    width: 100%;
}
body h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #300b02;
}
header nav{
    background-color: #300b02;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
header nav ul li {
    cursor: pointer;
}
.navbar {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    width: auto;
}
.menuc {
    padding: 50px 50px;
    position: relative;
}
.sousmenuc {
    right: -30%;
    position: absolute;
    display: none;
    width: 200px;
    text-align: center;
    height: 90px;
    background-color: #300b02;
    border-radius: 15px;
}
.menuc:hover .sousmenuc{
    display: block;
}
.sousmenuc label {
    color: rgba(200, 173, 127, 0.900);
}
.top {
    align-items: center;
    text-align: center;
}
.navbar:hover{
    text-decoration: underline;
    font-weight: bold;
}

header nav ul li:hover {
    border-bottom: 1 px black solid;
}
.var {
    text-align: center;
    width: 100%;
    background-color: #300b02;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    border-radius: 15px;
}
.var div {
    border-right: 1px solid rgba(200, 173, 127, 0.900);
    width: 33%;
}
.var div h1{
    color: rgba(200, 173, 127, 0.900);
}
.catalogue {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    height: 700px;
}
.produit {
    background-color: #300b02;
    width: 30%;
    height: 100%;
    border-radius: 15px;
    display: inline-block;
}
#a7 {
    text-align: center;
    background-image: url(l1.jpg);
    background-size: cover;
}
#a7 p {
    color:black;
    font-weight: bold;
}
#a8 {
    text-align: center;
    background-image: url(l2.jpg);
    background-size: cover;
}
#a8 p {
    color:white;
    font-weight: bold;
}
#a9 {
    background-image: url(l3.jpg);
    background-size: cover;
    text-align: center;
}
#a9 p {
    color:black;
    font-weight: bold;
}
.article {

    margin-left: 35%;
    margin-top: 15px;
    border-radius: 15px;
    height: 30%;
    width: 30%;
    background-color: rgba(200, 173, 127, 0.900);
}
.btnc {
    cursor: pointer;
    justify-content: center;
    background-color: rgba(200, 173, 127, 0.900);
    border-radius: 15px;
    padding: 8px 8px;
    font-weight: bold;
    color: #300b02;
}
.btnc:hover {
    background-color: #300b02;
    color: rgba(200, 173, 127, 0.900);
    transition: background-color 1s linear;
    transition: color 1s linear;
    margin-top: 400px;
}
footer {
    display: flex;
}
.navbas ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.navbas {
    margin-top: 40px;
    background-color: #300b02;
    height: 30px;
    width: 100%;
    display: flex;
}
.cat {
    position: relative;
    display: inline-block;
    text-align: center;
}
.souscatalogue {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #300b02;
}
.souscatalogue a {
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    width: auto;
    border-bottom: 1px solid rgba(200, 173, 127, 0.900);
}
.cat:hover .souscatalogue{
    display: block;
}
.souscatalogue a:hover{
    text-decoration: underline;
}